@model SisPla.PortadaCompraEnt

@{
    ViewBag.Title = "DetalleCompra";
}

<h2>DetalleCompra</h2>

<div>
    @*<h4>Detalle de compra</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.PcId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.PcId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.PortId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.PortId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PcFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PcFecha)
            <input type="date" class="form-control" name="name" value="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PcPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PcPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PcMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PcMoneda)
        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PcCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PcCantidad)
            <input type="number" class="form-control" name="name" value="" />
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
