@model List<SisPla.PortadaEnt>
@{
    ViewBag.Title = "Index";
    int n = 0;
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Venta de Galletas</h1>
        <p class="lead">Galletas Premium</p>
    </div>
</div>
<h2>Listado de Productos</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/6-avellana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <h5 class="card-title">@Model[n].PortTitulo </h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>


                    @*<a href="#" class="btn btn-primary">Comprar</a>*@
                    @Html.ActionLink("Comprar","DetalleCompra","Carrito",new {id= @Model[n].PortId },new {@class="btn btn-primary" })

                    @{ if (n < (Model.Count -1)) 
                        { 
                            n = n + 1; 
                        
                        }
                       
                     }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/6-avellana.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
          
                    @Html.ActionLink("Comprar", "DetalleCompra", "Carrito", new { id = @Model[n].PortId }, new { @class = "btn btn-primary" })
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/7-rebanada-de-pastel-zanahoria.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    @Html.ActionLink("Comprar", "DetalleCompra", "Carrito", new { id = @Model[n].PortId }, new { @class = "btn btn-primary" })
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/8-pastel-entero.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/8-pastel-entero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/8-pastel-entero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/8-pastel-entero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cms.cliqued.it/uploads/tendejon/originals/8-pastel-entero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model[n].PortTitulo</h5>
                    <p class="card-text">@Model[n].PortDescripcion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{ if (n < (Model.Count - 1))
                        {
                            n = n + 1;

                        }

                    }
                </div>
            </div>
        </div>
    </div>

</div>

